body {
    background-color: #14161E;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr {
    color: white;
}

.block {
    display: block;
}

.title-info {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.number-pok {
    position: absolute;
    top: 10%;
    right: 10%;
    color: #d2d6de;
}

.name-pok {
    position: absolute;
    top: 70%;
    left: 45%;
    color: #d2d6de;
    font-size: 20px;
}

.img-pok {
    position: relative;
    top: 10px;
    left: 5%;
    width: 100px;
    border: 4px solid #d2d6de;
    border-radius: 50%;
}

.card {
    background-color: #383a46;
    border: 2px solid #28a745;
    border-radius: 10px;
}

.card:hover {
    background-color: rgba(172, 241, 139, 0.3);
}

.card:active {
    color: rgba(172, 241, 139, 0.3);
}

.card-body {
    padding: 5px;
}


.badge {
    margin-right: 10px;
}

.stats {
    border: 2px solid #d2d6de;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 1px 1px 1px
}

.stats span {
    display: flex;
    justify-content: space-between;
    line-height: 0.5;
}


/*types-color*/

.bug {
    background-color: #D8E030;
}

.dark {
    background-color: #A8A878;
}

.dragon {
    background-color: #B8A0F8;
}

.electric {
    background-color: #F8F878;
}

.fairy {
    background-color: #F4BDC9;
}

.fighting {
    background-color: #F08030;
}

.fire {
    background-color: #F8D030;
}

.flying {
    background-color: #C8C0F8;
}

.ghost {
    background-color: #A890F0;
}

.grass {
    background-color: #C0F860;
}

.ground {
    background-color: #F8F878;
}

.ice {
    background-color: #D0F8E8;
}

.normal {
    background-color: #D8D8C0;
}

.poison {
    background-color: #D880B8;
}

.psychic {
    background-color: #F8C0B0;
}

.rock {
    background-color: #E0C068;
}

.steel {
    background-color: #D3D3D3;
}

.water {
    background-color: #67D2F1;
}
